
/* Header */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Jura:wght@300..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&family=Playwrite+VN:wght@100..400&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Headline in the #Content */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Courgette&family=Dancing+Script:wght@400..700&family=Jura:wght@300..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&family=Playwrite+VN:wght@100..400&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Paragraphs below Headline */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Courgette&family=Dancing+Script:wght@400..700&family=Jura:wght@300..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&family=Playwrite+VN:wght@100..400&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    padding: 15px 0;

    /* Make the header always stick at the top of page */
    position: sticky;
    top: 0;
    background-color: white;
}

#trade-mark {
    height: 80px;
    width: 80px;
    margin: 0 30px;
}


header > nav > button {
    background: none;
    border: 3px solid white;
    margin: 0 20px;
    padding: 5px 0;
    cursor: pointer;

    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}

header > nav > button:hover {
    border-bottom: 3px solid burlywood;
}


/* Home page */

#content {
    padding: 50px 0;

    flex: 1;
}


#content > h1 {
    font-family: "Courgette", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;

    text-align: center;
}

.favourite-pic {
    height: 40vh;
    width: auto;
}

.pic_container {
    display: flex;
    align-items: center;

    width: 80%;
    margin: 20px auto;
}

.pic_container > div > p {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: justify;

    margin: 20px;
}


/* Menu */

#content > h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

#single-platters {
    width: 80vw;

    display: block;
    margin: 10px auto;
}

.col {
    padding: 0 20px;
}

#single-platters-menu {
    display: flex;
    column-gap: 30px;

    margin: 40px 0;
}

.item {
    display: flex;
    column-gap: 10px;

    margin: 15px 0;
    cursor: pointer;
}

.name-desc span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
}

.name-desc > p:last-of-type {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    width: 95%;
    font-size: 12px;
    margin-left: auto;
    margin-top: 10px;
    text-align: justify;
}

#single-platters-menu img {
    height: 80px;
    width: 80px;
}


/* Contact */

#location {
    width: 50vw;
    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
}

.outlet {
    padding: 10px;
}

.name {
    margin: 5px 0;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.name,
.contact,
.operating-hours {
    color: chocolate;
}

.contact,
.operating-hours,
address {
    margin: 5px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
}

#location span {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 300;
}


/* footer */
footer {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
}

footer p {
    padding: 20px;
}